body {
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.container {
    margin-top: 20px;
}

.section {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.card {
    border-radius: 8px;
    margin-bottom: 15px;
}

.card .card-content {
    font-size: 14px;
}

.btn {
    margin-top: 20px;
}
